extends ../layouts/main-layout.pug

block content
    main(class="flex flex-col items-center mt-20")
                    div(class="block box-content bg-gray-50 h-80 xl:h-96 w-80 xl:w-80 shadow-xl rounded-xl")
                        form(action="/signup" method="POST")
                            div(class="flex flex-col my-24 items-center")
                                div(class="flex flex-col gap-24")
                                    div(class="flex flex-col gap-6")
                                        div(class="flex flex-row items-center gap-10")
                                                        label(class="pl-4 text-mono font-medium" for="email") Email
                                                        input(class="ring-2 ring-gray-300 rounded-md pl-4 text-mono shadow-lg font-medium" placeholder="type here..." type="email" name="email" id="email")
                                                        
                                        div(class="flex flex-row items-center gap-6")
                                                        label(class="pl-4 text-mono font-medium" for="password") Password
                                                        input(class="ring-2 ring-gray-300 rounded-md pl-4 -ml-3 text-mono shadow-lg font-medium" placeholder="type here..." type="password" name="password" id="password")

                                        div(class="flex flex-row items-center")
                                                        label(class="pl-4 text-mono font-medium" for="confirm_password") Confirm Password
                                                        div(class="mx-4")
                                                            input(class="ring-2 ring-gray-300 rounded-md pl-4 -ml-3 text-mono shadow-lg font-medium" placeholder="type here..." type="password" name="confirm_password" id="confirm_password")
                                            


                                    button(class="font-mono font-semibold mx-6" type="submit")
                                        span(class="block box-content rounded-md ring-2 hover:ring-teal-500 bg-gray-200 shadow-lg h-ful w-full px-1 hover:scale-105 hover:bg-gray-700 hover:text-slate-50 hover:shadow-xl") Signup
                                    
                                