doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{myTitle}
        script(src="https://cdn.tailwindcss.com")
    body(class="bg-gray-100") 

        if(isAuthenticated)
            
            header(class="flex justify-center")
                nav(class="block mt-2 h-20 md:h-32 w-4/5 bg-gray-100 rounded-xl md:rounded-lg drop-shadow-lg lg:drop-shadow-xl")
                    ul(class="flex flex-row h-full w-full justify-between")
                        li(class=(path==="/"?"block h-full w-full bg-gray-600 text-gray-100 text-center rounded-xl md:rounded-lg py-6 md:py-8 lg:py-10 hover:my-0 hover:rounded-xl hover:md:rounded-lg hover:py-6 hover:md:py-8 hover:md:py-10 hover:bg-gray-700 hover:scale-105 hover:text-white hover:shadow-xl": "block h-full w-full text-center rounded-xl md:rounded-lg py-6 md:py-8 lg:py-10 hover:my-0 hover:rounded-xl hover:md:rounded-lg hover:py-6 hover:md:py-8 hover:md:py-10 hover:bg-gray-700 hover:scale-105 ring-1 ring-gray-200 hover:text-slate-50 hover:shadow-xl"))
                            a(class="font-mono font-bold md:font-medium lg:font-semibold text-sm md:text-xl lg:text-2xl" href="/") OUR SHOP
                        li(class=(path==="/products"?"block h-full w-full bg-gray-600 text-gray-100 text-center rounded-xl md:rounded-lg py-6 md:py-8 lg:py-10 hover:my-0 hover:rounded-xl hover:md:rounded-lg hover:py-6 hover:md:py-8 hover:md:py-10 hover:bg-gray-700 hover:scale-105 hover:text-white hover:shadow-xl": "block h-full w-full text-center rounded-xl md:rounded-lg py-6 md:py-8 lg:py-10 hover:my-0 hover:rounded-xl hover:md:rounded-lg hover:py-6 hover:md:py-8 hover:md:py-10 hover:bg-gray-700 hover:scale-105 ring-1 ring-gray-200 hover:text-slate-50 hover:shadow-xl"))
                            a(class="font-mono font-bold md:font-medium lg:font-semibold text-sm md:text-xl lg:text-2xl" href="/products") PRODUCTS
                        li(class=(path==="/cart"?"block h-full w-full bg-gray-600 text-gray-100 text-center rounded-xl md:rounded-lg py-6 md:py-8 lg:py-10 hover:my-0 hover:rounded-xl hover:md:rounded-lg hover:py-6 hover:md:py-8 hover:md:py-10 hover:bg-gray-700 hover:scale-105 hover:text-white hover:shadow-xl": "block h-full w-full text-center rounded-xl md:rounded-lg py-6 md:py-8 lg:py-10 hover:my-0 hover:rounded-xl hover:md:rounded-lg hover:py-6 hover:md:py-8 hover:md:py-10 hover:bg-gray-700 hover:scale-105 ring-1 ring-gray-200 hover:text-slate-50 hover:shadow-xl"))
                            a(class="font-mono font-bold md:font-medium lg:font-semibold text-sm md:text-xl lg:text-2xl" href="/cart") CART
                        li(class=(path==="/orders"?"block h-full w-full bg-gray-600 text-gray-100 text-center rounded-xl md:rounded-lg py-6 md:py-8 lg:py-10 hover:my-0 hover:rounded-xl hover:md:rounded-lg hover:py-6 hover:md:py-8 hover:md:py-10 hover:bg-gray-700 hover:scale-105 hover:text-white hover:shadow-xl": "block h-full w-full text-center rounded-xl md:rounded-lg py-6 md:py-8 lg:py-10 hover:my-0 hover:rounded-xl hover:md:rounded-lg hover:py-6 hover:md:py-8 hover:md:py-10 hover:bg-gray-700 hover:scale-105 ring-1 ring-gray-200 hover:text-slate-50 hover:shadow-xl"))
                            a(class="font-mono font-bold md:font-medium lg:font-semibold text-sm md:text-xl lg:text-2xl" href="/orders") ORDERS
                        li(class=(path==="/admin/add-products"?"block h-full w-full bg-gray-600 text-gray-100 text-center rounded-xl md:rounded-lg py-6 md:py-8 lg:py-10 hover:my-0 hover:rounded-xl hover:md:rounded-lg hover:py-6 hover:md:py-8 hover:md:py-10 hover:bg-gray-700 hover:scale-105 hover:text-white hover:shadow-xl": "block h-full w-full text-center rounded-xl md:rounded-lg py-6 md:py-8 lg:py-10 hover:my-0 hover:rounded-xl hover:md:rounded-lg hover:py-6 hover:md:py-8 hover:md:py-10 hover:bg-gray-700 hover:scale-105 ring-1 ring-gray-200 hover:text-slate-50 hover:shadow-xl"))
                            a(class="font-mono font-bold md:font-medium lg:font-semibold text-sm md:text-xl lg:text-2xl" href="/admin/add-products") ADD PRODUCTS
                        li(class=(path==="/admin/products"?"block h-full w-full bg-gray-600 text-gray-100 text-center rounded-xl md:rounded-lg py-6 md:py-8 lg:py-10 hover:my-0 hover:rounded-xl hover:md:rounded-lg hover:py-6 hover:md:py-8 hover:md:py-10 hover:bg-gray-700 hover:scale-105 hover:text-white hover:shadow-xl": "block h-full w-full text-center rounded-xl md:rounded-lg py-6 md:py-8 lg:py-10 hover:my-0 hover:rounded-xl hover:md:rounded-lg hover:py-6 hover:md:py-8 hover:md:py-10 hover:bg-gray-700 hover:scale-105 ring-1 ring-gray-200 hover:text-slate-50 hover:shadow-xl"))
                            a(class="font-mono font-bold md:font-medium lg:font-semibold text-sm md:text-xl lg:text-2xl" href="/admin/products") ADMIN PRODUCTS
                        li(class="block h-full w-full text-center rounded-xl ring-2 ring-red-300 md:rounded-lg py-6 md:py-8 lg:py-10 hover:my-0 hover:rounded-xl hover:md:rounded-lg hover:py-6 hover:md:py-8 hover:md:py-10 hover:bg-red-400 hover:ring-red-500 hover:scale-105 hover:text-slate-50 hover:shadow-xl")
                            form(action="/logout" method="POST")
                                button(type="submit" class="font-mono font-bold md:font-medium lg:font-semibold text-sm md:text-xl lg:text-2xl") LOGOUT
                        

            block content
        
        else
            
            header(class="flex justify-center")
                nav(class="block mt-2 h-20 md:h-32 w-4/5 bg-gray-100 rounded-xl md:rounded-lg drop-shadow-lg lg:drop-shadow-xl")
                    ul(class="flex flex-row h-full w-full justify-between")
                        li(class=(path==="/"?"block h-full w-full bg-gray-600 text-gray-100 text-center rounded-xl md:rounded-lg py-6 md:py-8 lg:py-10 hover:my-0 hover:rounded-xl hover:md:rounded-lg hover:py-6 hover:md:py-8 hover:md:py-10 hover:bg-gray-700 hover:scale-105 hover:text-white hover:shadow-xl": "block h-full w-full text-center rounded-xl md:rounded-lg py-6 md:py-8 lg:py-10 hover:my-0 hover:rounded-xl hover:md:rounded-lg hover:py-6 hover:md:py-8 hover:md:py-10 hover:bg-gray-700 hover:scale-105 ring-1 ring-gray-200 hover:text-slate-50 hover:shadow-xl"))
                            a(class="font-mono font-bold md:font-medium lg:font-semibold text-sm md:text-xl lg:text-2xl" href="/") OUR SHOP
                        li(class=(path==="/products"?"block h-full w-full bg-gray-600 text-gray-100 text-center rounded-xl md:rounded-lg py-6 md:py-8 lg:py-10 hover:my-0 hover:rounded-xl hover:md:rounded-lg hover:py-6 hover:md:py-8 hover:md:py-10 hover:bg-gray-700 hover:scale-105 hover:text-white hover:shadow-xl": "block h-full w-full text-center rounded-xl md:rounded-lg py-6 md:py-8 lg:py-10 hover:my-0 hover:rounded-xl hover:md:rounded-lg hover:py-6 hover:md:py-8 hover:md:py-10 hover:bg-gray-700 hover:scale-105 ring-1 ring-gray-200 hover:text-slate-50 hover:shadow-xl"))
                            a(class="font-mono font-bold md:font-medium lg:font-semibold text-sm md:text-xl lg:text-2xl" href="/products") PRODUCTS
                        li(class=(path==="/login"?"block h-full w-full bg-gray-600 ring-2 ring-teal-300 text-gray-100 text-center rounded-xl md:rounded-lg py-6 md:py-8 lg:py-10 hover:my-0 hover:rounded-xl hover:md:rounded-lg hover:py-6 hover:md:py-8 hover:md:py-10 hover:bg-gray-700 hover:scale-105 hover:text-white hover:shadow-xl": "block h-full w-full text-center rounded-xl ring-2 ring-blue-300 md:rounded-lg py-6 md:py-8 lg:py-10 hover:my-0 hover:rounded-xl hover:md:rounded-lg hover:py-6 hover:md:py-8 hover:md:py-10 hover:bg-gray-700 hover:scale-105 ring-1 ring-gray-200 hover:text-slate-50 hover:shadow-xl"))
                            a(class="font-mono font-bold md:font-medium lg:font-semibold text-sm md:text-xl lg:text-2xl" href="/login") LOGIN
                        li(class=(path==="/signup"?"block h-full w-full bg-gray-600 text-gray-100 text-center rounded-xl md:rounded-lg py-6 md:py-8 lg:py-10 hover:my-0 hover:rounded-xl hover:md:rounded-lg hover:py-6 hover:md:py-8 hover:md:py-10 hover:bg-gray-700 hover:scale-105 hover:text-white hover:shadow-xl": "block h-full w-full text-center rounded-xl md:rounded-lg py-6 md:py-8 lg:py-10 hover:my-0 hover:rounded-xl hover:md:rounded-lg hover:py-6 hover:md:py-8 hover:md:py-10 hover:bg-gray-700 hover:scale-105 hover:text-slate-50 hover:shadow-xl"))
                            a(class="font-mono font-bold md:font-medium lg:font-semibold text-sm md:text-xl lg:text-2xl" href="/signup") SIGNUP
                        

            block content